:root {
	--fondo: #333333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
}
nav{
		justify-content: space-between;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: #578b34;
	font-size: 40px;
}
header .logotipo2 {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: rgb(255, 255, 255);
	font-size: 40px;
}

header nav a {
	color: #ffffff;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #ffffff;
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.articulo-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: rgb(255, 255, 255);
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/Descuentos.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.articulo-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.articulo-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.articulo-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.articulo-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #ffffff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.articulo-principal .boton:hover {
	background: #fff;
	color: #000;
}

.articulo-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #ffffff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.articulos-recomendados {
	margin-bottom: 70px;
}

.articulos-recomendados .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.articulos-recomendados .contenedor-principal .flecha-izquierda,
.articulos-recomendados .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.articulos-recomendados .contenedor-principal .flecha-izquierda:hover,
.articulos-recomendados .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.articulos-recomendados .contenedor-principal .flecha-izquierda {
	left: 0;
}

.articulos-recomendados .contenedor-principal .flecha-derecha {
	right: 0;
}
.articulos-destacadas {
	margin-bottom: 70px;
}

.articulos-destacadas .contenedor2-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.articulos-destacadas .contenedor2-principal .flecha-izquierda,
.articulos-destacadas .contenedor2-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: rgb(231, 0, 0)f2f;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.articulos-destacadas .contenedor2-principal .flecha-izquierda:hover,
.articulos-destacadas .contenedor2-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.articulos-destacadas .contenedor2-principal .flecha-izquierda {
	left: 0;
}

.articulos-destacadas .contenedor2-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.articulos-recomendados .contenedor-carousel {
	width: 100%;
	padding: 20px 50px;
	overflow: hidden;
	scroll-behavior: smooth;
}

.articulos-recomendados .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.articulos-recomendados .contenedor-carousel .carousel .articulo {
	min-width: auto;
	margin-right: 25px;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.articulos-recomendados .contenedor-carousel .carousel .articulo.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.articulos-recomendados .contenedor-carousel .carousel .articulo img {
	width: 200px;
	height: 150px;
	vertical-align: top;
}
.articulos-recomendados .contenedor-carousel .carousel .articulo .precio {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
}



/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.articulo-principal {
		font-size: 14px;
	}

	.articulo-principal .descripcion {
		max-width: 100%;
	}

	.articulos-recomendados .contenedor-carousel {
		overflow: visible;
	}

	.articulos-recomendados .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.articulos-recomendados .indicadores,
	.articulos-recomendados .flecha-izquierda,
	.articulos-recomendados .flecha-derecha {
		display: none;
	}
	.articulos-destacadas .contenedor2-carousel {
		overflow: visible;
	}

	.articulos-destacadas .contenedor2-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.articulos-destacadas .indicadores,
	.articulos-destacadas .flecha-izquierda,
	.articulos-destacadas .flecha-derecha {
		display: none;

}

.parrafo-1{
	margin-bottom: 50px;
}

}


.hardware {
	margin-bottom: 20px;
	color: #fff;
}

.hardwarecontainer {
	text-align: center;
}
.hardwarebutton-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	max-width: 600px;
	margin: 0 auto;
}
.hardwarebutton-container a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	text-decoration: none;
	color: white;
	background-color: #000000;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	font-size: 16px;
}
.hardwarebutton-container a:hover {
	background-color: #000000;
}

.contacto-container {
    text-align: center;
	color: #acabab;
}

.contacto {
    border: 1px solid #acabab;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px; /* Añade padding dentro del cuadro para separar el texto de los bordes */
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
    max-width: 1200px; /* Establece un ancho máximo si es necesario */
    margin: auto; /* Esto centrará el div si no usa todo el ancho de la columna */
}

.card
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.product-container {
	display: flex;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 1600px;
	width: 100%;
}
.product-image {
	flex: 1;
	padding-right: 20px;
}
.product-image img {
	width: 100%;
	border-radius: 10px;
}
.product-details {
	flex: 4;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.product-title {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 10px;
}
.product-info {
	font-size: 18px;
	margin-bottom: 20px;
}
.product-button a {
	display: inline-block;
	padding: 12px 24px;
	text-decoration: none;
	color: white;
	background-color: #007BFF;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}
.product-button a:hover {
	background-color: #0056b3;
}